.centered {
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0%;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px auto;
  left: 0;
  right: 0;
  text-align: center;
  height: 100%;
}


#infobox {
    overflow-y: hidden;
  height: 3em; /* approximate max height */
  bottom: 0%;
  width:100%;
    
  z-index: 11;
  background-color: #3a3a3a;
  color: white;
  position: fixed;
  display: flex;
}

#infobox.opened {
  height: 45%;
}
.mdiv {
  width: 30px;
  height: 30px;
  right: 0;
  top: 0;
  position: absolute;
  border: none;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 4px;
  cursor: pointer;
}

.mdiv-inner {
  height: 25px;
  width: 2px;
  margin-left: 9px;
  background-color: white;
  transform: rotate(90deg);
  Z-index: 1;
}

.md {
  height: 25px;
  width: 2px;
  background-color: white;
  transform: rotate(90deg);
  Z-index: 2;
}

.md.open {
    transform: rotate(0deg);
}



#info {
    position: fixed; top: 20px; width:100%; text-align: center; z-index: 1;
}